@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}



/* Prevent horizontal scroll globally */
html, body {
  width: 100%;
  overflow-x: hidden;
}

